body {
	background-color: #fff;
	font-size: 0.9em;
}
a {
	text-decoration: none;
	color: #449;
}
a:hover {
	color: #944;
}

#content {
        margin: 5px;
        padding: 0 10px;
	width: 700px;
	border: 2px solid #cccccc;
	padding: 5px;
        resize: none;	
}

#post {
        width: 750px;
}

.post_entry {
	border: 1px solid #000;
	margin: 10px 0 10px;
	color: #666;
	padding: 10px;
}


.post_title {
	margin: 0 0 5px 0;
	background-color: #c53c52;
	padding: 2px 3px;
}
.post_title a {
	color: #000000;
	text-decoration: none;
}
.post_title a:hover {
	color: #855;
}

.post_info {
	margin: 0;
	border-bottom: 2px solid #ffa07a;
	font-size: 0.8em;
}

.content_box {
	margin: 20px 0;
	padding: 0 2em;
}

.post_meta {
	font-size: 0.8em;
	color: #757575;
	margin: 10px 0 0 10px;
	padding: 0;
}
.post_meta li {
		display: inline;
		margin-right: 30px;
}
.container {
  margin: 10px;
  width: 640px;
}

.login {
  position: relative;
  margin: 0;
  padding: 20px 20px 20px;
  width: 230px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 200px;
}
input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 2px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}
input[type=submit], input[type=button] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  outline: 0;
}
.etc {
  width:750px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px;
}
.etc input[type=submit], .etc input[type=button] {
  float: right;
}
input[type=submit]:active, input[type=button]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.cmt_txtarea {
    height: 30px;
    border-radius: 3px;
}
.post_txtarea {
    height: 200px;
}

.pw_layer {
  display: none;
}


.pop_pw_box{
  z-index:300;position:relative;
}
.pop_pw_box .box_pp{
  position:absolute;top:-50px;right:40px;padding:0px 15px 8px 15px;
  padding:5px 15px;
  width:204px;
  height:120px;
  background:#fff;
  border:1px solid #4f4f4f;
  margin: 0 auto;
}
.pp_pw{margin:10px 0 6px 0;font-weight:bold;color:#1f1f1f;background:url(http://nstatic.dcinside.com/dgn/gallery/images/icon_arrow_reply_d.gif) 0 center no-repeat;padding-left:15px;}
.pp_input input[type=password] {
  width:155px;
  height:17px;
  line-height:15px;
  border:1px solid #c9c9c9;
  background:#f5f5f5;
}
.pp_input img{vertical-align:middle}

.etc2 {
  float: left;
  position: relative;
  left: 50%;
}

.etc2_re {
  float: left;
  position: relative;
  left: -50%;
}
.etc2 input[type=button], .etc2 input[type=submit] { 
  display:inline-block;
  vertical-align: top;
}
