{% if with_layout %}{% include 'layout/header.html' %}{% endif %}
    <hr/>
    {% if comments|length %}
    <ul>
    {% for comment in comments %}
        <li>{{comment.name}}님이 {{comment.created}}에 남긴 댓글
        (<a href="">수정</a> / <a href="" onclick="open_box('{{comment.id}}');return false;">삭제</a>)
        <p>{{comment.content}}</p></li>

    <form method="post" action="/blog/del/comment/{{comment.id}}/" onsubmit="pw_check(this); return false;">
    <div id="pw_layer_{{comment.id}}" class="pw_layer" >
        <div class="pop_pw_box" style="">
            <div class="box_pp">
                <p class="pp_pw">댓글 삭제 - 비밀번호 입력</p>
                <p class="pp_input">
                    <input type="password" name="password" id="password"></p>
            <div class="etc2">
                <div class="etc2_re">
                <a href="" ><input type="submit" value="삭제"></a>
                <a href="" onclick="close_box('{{comment.id}}');return false;"><input type="button" value="취소"></a>
                </div>
            </div>
            </div>
        </div>
    </div>
    </form>
    {% endfor %}
    </ul>
    {% else %}
    댓글이 없습니다.
    {% endif %}

    {% include 'comment_form.html' %}

{% if with_layout %}{% include 'layout/footer.html' %}{% endif %}
