{% include 'layout/header.html' %}
{% if login %}
<li>username : {{user}}</li>
<li><a href="/blog/logout">로그아웃</a></li>
{% else %}{% include 'login.html' %}{% endif %}
<h1>{{page_title}}</h1>
<div id="post">
    {% for entry in entries %}
    <div class="post_entry">
        <h3 id="post_{{entry.id}}" class="post_title"><a href="/blog/entry/{{entry.id}}">
    {{entry.title}}</a></h3>
        <p class="post_info">카테고리 : [ {{entry.category.title}} ] /
            <a href="/blog/entry/{{entry.id}}">{{entry.created}}</a></p>

        <div class="content_box">{{entry.content|linebreaks}}</div>

        <ul class="post_meta">
            <li>태그 : {% for tag in entry.tags.all %}
            <span>{{tag.title}}</span>
            {% endfor %}</li>
        <li><a href="/blog/get_comments/{{entry.id}}/" onclick="toggle_comment_box(this.href,'{{entry.id}}'); return false;">
            댓글({{entry.comment_num}})</a></li>
        </ul>
        <div id="comment_box_{{entry.id}}" style="display: none;"></div>
    </div>
    {% endfor %}
</div>

<div>현재 페이지 : {{current_page}}쪽</div>
<div>
    {% for page_num in page_range %}
    <span><a href="/blog/page/{{page_num}}">[{{page_num}}]</a></span>
    {% endfor %}
</div>

<div id="sidebar"></div>

{% include 'layout/footer.html' %}
