{% include 'layout/header.html' %}
<h1>{{page_title}}</h1>
<div id="content">
    {% for entry in entries %}
    <div class="post_entry">
        <h3 id="post_{{entry.id}}" class="post_title"><a href="/blog/entry/{{entry.id}}">
    {{entry.Title}}</a></h3>
        <p class="post_info">카테고리 : [ {{entry.Category.Title}} ] /
            <a href="blog/entry/{{entry.id}}">{{entry.created}}</a></p>

        <div class="content_box">{{entry.Content}}</div>

        <ul class="post_meta">
            <li>태그 : {% for tag in entry.Tags.all %}
            <span>{{tag.Title}}</span>
            {% endfor %}</li>
        <li><a href="/blog/get_comments/{{entry.id}}">댓글({{entry.Comments}})</a></li>
        </ul>
    </div>
    {% endfor %}
</div>

<div>현재 페이지 : {{current_page}}쪽</div>
<div>
    {% for page_num in page_range %}
    <span><a href="/blog/page/{{page_num}}">[{{page_num}}]</a></span>
    {% endfor %}
</div>

<div id="sidebar"></div>

{% include 'layout/footer.html' %}
