{% include 'layout/header.html' %}
<h1>{{page_title}}</h1>

<form method="post" action="/blog/entry/{{entry.id}}/update/post/">
    <p><input type="text" id="title" name="title" value="{{entry.title}}" placeholder="제목을 입력하세요."/></p>
    <p><select name="category" id="category">
            <option value="">카테고리 선택</option>
            {% for category in categories %}
            {% if category == entry.category %}
            <option value="{{category.id}}" selected>{{category.title}}</option>
            {% else %}
            <option value="{{category.id}}">{{category.title}}</option>
            {% endif %}
            {% endfor %}
        </select></p>
    <p><textarea class="post_txtarea" id="content" name="content">{{entry.content}}</textarea></p>
    <p><label for="tags">태그 </label><input type="text" id="tags" name="tags"
                                           value="{% for tag in entry.tags.all %}{{tag.title}}, {% endfor %}"></p>
    <p><input type="submit" value="제출하기"></p>
</form>
{% include 'layout/footer.html' %}
