<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h3><a href="/blog/entry/{{current_entry.id}}">{{current_entry.Title}}</a></h3>
    <form method="post" action="/blog/entry/{{current_entry.id}}/delete/">
      <p><input type="submit" value="글 삭제"></p>
    </form>
    <div>{{current_entry.Content}}</div>
    <ul>
        <li>{{current_entry.Category.Title}}</li>
        <li>{% for tag in current_entry.Tags.all %}
            <span>{{tag.Title}}</span>
            {% endfor %}</li>
        <li>{{current_entry.created}}</li>
        <li>댓글 수 : {{current_entry.Comments}}</li>
    </ul>
</div>
<div>{% include 'comments.html' %}
    {% include 'comment_form.html' %}</div>
<ul>{% if prev_entry %}
    <a href="/blog/entry/{{prev_entry.id}}">이전글</a>
    {% endif %}
    {% if next_entry %}
    <a href="/blog/entry/{{next_entry.id}}">다음글</a></ul>
    {% endif %}
</body>
</html>
